
@charset "utf-8";
/* 基本字体样式 */
/* 行高 */
/* 基本间距 */
/* 列表顶部选择 */
/* 几个基本的灰度色彩 */
/* 语意化灰度 */
/* 基本状态色 */
/* 网站基本蓝色 */
/* 字体大小 */
/* 一些辅助方法
 ellipsis，省略号，当超过宽度时，显示省略号： */
ul li {
  list-style: none;
}
/* 强制换行 */
/* display:inline-block;IE6,7块级元素对inline-block支持不好，需要触发Layout；内联元素就不需要了。 */
/* 清除浮动，貌似最完美的解决方案 */
/* 最小高度，IE6不支持min-height，但是使用height能达到一样的效果 */
/* 使用纯CSS现实三角形，兼容所有浏览器；使用了三个参数，第一个是"方向"，第二个是"大小"，第三个是"颜色"，省得每次都写一大堆代码，非常方便啦； */
/* 一个区块 */
/* 整体居中 */
/* 垂直居中 */
/* 当Card底部是一个没有分页的List时 */
.unread {
  float: right;
  color: #f75c5d;
}
.readed {
  float: right;
}
.content {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.list-con {
  -ms-flex: 1;
      flex: 1;
}
.list-con .mu-load-more {
  min-height: 200px;
}
.list-con .mint-tab-container-wrap {
  height: 100%;
}
.list-con .message-list {
  padding: 15px 0 0;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.message {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 15px;
}
.message .message-head {
  color: #a9a9a9;
  font-size: 12px;
  margin-bottom: 15px;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 15px;
}
.message .message-foot {
  padding-top: 15px;
  color: #666;
  margin-top: 15px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.message .message-foot:active > * {
  background-color: #eee;
}
.mu-tab-wrapper {
  -ms-flex-direction: row;
      flex-direction: row;
}
.message-tips {
  border-radius: 14px;
  color: #fff;
  background: red;
  font-style: normal;
  transform: scale(0.6);
  margin-left: 5px;
  padding: 6px;
  font-size: 16px;
  min-width: 14px;
  text-align: center;
  line-height: 14px;
  display: inline-block;
  min-width: 26px;
}
