
.uploader {
  width: 50%;
  padding-top: 50%;
  position: relative;
  display: inline-block;
}
.uploader .progressPercent {
  background-color: #fbfdff;
  border: 1px dashed #c0ccda;
  box-sizing: border-box;
  position: relative;
}
.uploader .progressPercent .el-progress--circle {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -75px 0 0 -75px;
  width: 150px !important;
  height: 150px !important;
}
.uploader .progressPercent .el-progress-circle {
  width: 150px !important;
  height: 150px !important;
}
.uploader .progressPercent,
.uploader .el-upload--picture-card {
  position: absolute;
  left: 5px;
  top: 5px;
  bottom: 5px;
  right: 5px;
  width: auto;
  height: auto;
  border-radius: 0;
}
.uploader .el-icon-plus {
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
}
.hideUploader .el-upload {
  display: none;
}

@charset "utf-8";
/* 基本字体样式 */
/* 行高 */
/* 基本间距 */
/* 列表顶部选择 */
/* 几个基本的灰度色彩 */
/* 语意化灰度 */
/* 基本状态色 */
/* 网站基本蓝色 */
/* 字体大小 */
/* 一些辅助方法
 ellipsis，省略号，当超过宽度时，显示省略号： */
ul li[data-v-0421778d] {
  list-style: none;
}
/* 强制换行 */
/* display:inline-block;IE6,7块级元素对inline-block支持不好，需要触发Layout；内联元素就不需要了。 */
/* 清除浮动，貌似最完美的解决方案 */
/* 最小高度，IE6不支持min-height，但是使用height能达到一样的效果 */
/* 使用纯CSS现实三角形，兼容所有浏览器；使用了三个参数，第一个是"方向"，第二个是"大小"，第三个是"颜色"，省得每次都写一大堆代码，非常方便啦； */
/* 一个区块 */
/* 整体居中 */
/* 垂直居中 */
/* 当Card底部是一个没有分页的List时 */
.content[data-v-0421778d] {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.bodyer[data-v-0421778d] {
  -ms-flex: 1;
      flex: 1;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.hide[data-v-0421778d] {
  display: none;
}
.picList[data-v-0421778d] {
  font-size: 0;
  margin: -5px;
  width: 100%;
}
.picCon[data-v-0421778d] {
  width: 50%;
  padding-top: 50%;
  display: inline-block;
  position: relative;
}
.picCon .con[data-v-0421778d] {
  position: absolute;
  left: 5px;
  top: 5px;
  bottom: 5px;
  right: 5px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #eee;
}
.picCon .del[data-v-0421778d] {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}
.picCon .del .el-icon-delete[data-v-0421778d] {
  color: #fff;
  font-size: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}
.picCon:hover .del[data-v-0421778d] {
  display: block;
}
