
.rowList .mint-cell-wrapper {
  background-image: none;
}
.rowList .mint-cell-swipe-button {
  line-height: 56px;
}

@charset "utf-8";
/* 基本字体样式 */
/* 行高 */
/* 基本间距 */
/* 列表顶部选择 */
/* 几个基本的灰度色彩 */
/* 语意化灰度 */
/* 基本状态色 */
/* 网站基本蓝色 */
/* 字体大小 */
/* 一些辅助方法
 ellipsis，省略号，当超过宽度时，显示省略号： */
ul li[data-v-681f5ff5] {
  list-style: none;
}
/* 强制换行 */
/* display:inline-block;IE6,7块级元素对inline-block支持不好，需要触发Layout；内联元素就不需要了。 */
/* 清除浮动，貌似最完美的解决方案 */
/* 最小高度，IE6不支持min-height，但是使用height能达到一样的效果 */
/* 使用纯CSS现实三角形，兼容所有浏览器；使用了三个参数，第一个是"方向"，第二个是"大小"，第三个是"颜色"，省得每次都写一大堆代码，非常方便啦； */
/* 一个区块 */
/* 整体居中 */
/* 垂直居中 */
/* 当Card底部是一个没有分页的List时 */
.content[data-v-681f5ff5] {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.bodyer[data-v-681f5ff5] {
  -ms-flex: 1;
      flex: 1;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.isLink[data-v-681f5ff5] {
  position: absolute;
  top: 18px;
  right: 15px;
  font-size: 16px;
}
.rowList[data-v-681f5ff5] {
  font-size: 16px;
  background-color: #fff;
  height: 56px;
}
.rowList[data-v-681f5ff5]:active {
  background-color: #eee;
}
.rowList .title[data-v-681f5ff5] {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 15px;
  line-height: 56px;
}
.footer[data-v-681f5ff5] {
  height: 44px;
}
