
@charset "utf-8";
/* 基本字体样式 */
/* 行高 */
/* 基本间距 */
/* 列表顶部选择 */
/* 几个基本的灰度色彩 */
/* 语意化灰度 */
/* 基本状态色 */
/* 网站基本蓝色 */
/* 字体大小 */
/* 一些辅助方法
 ellipsis，省略号，当超过宽度时，显示省略号： */
ul li[data-v-60f166ae] {
  list-style: none;
}
/* 强制换行 */
/* display:inline-block;IE6,7块级元素对inline-block支持不好，需要触发Layout；内联元素就不需要了。 */
/* 清除浮动，貌似最完美的解决方案 */
/* 最小高度，IE6不支持min-height，但是使用height能达到一样的效果 */
/* 使用纯CSS现实三角形，兼容所有浏览器；使用了三个参数，第一个是"方向"，第二个是"大小"，第三个是"颜色"，省得每次都写一大堆代码，非常方便啦； */
/* 一个区块 */
/* 整体居中 */
/* 垂直居中 */
/* 当Card底部是一个没有分页的List时 */
.content[data-v-60f166ae] {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.areaHead[data-v-60f166ae] {
  padding: 15px;
  overflow: auto;
}
.areaHead > .textCon[data-v-60f166ae] {
  margin-left: 75px;
  margin-right: 20px;
}
.areaHead > .textLabel[data-v-60f166ae] {
  float: left;
}
.areaBody[data-v-60f166ae] {
  -ms-flex: 1;
      flex: 1;
  background-color: #fff;
  overflow: auto;
}
.cleanBtn[data-v-60f166ae] {
  position: absolute;
  top: 9px;
  right: 12px;
}
.areaRow[data-v-60f166ae] {
  font-size: 16px;
  padding: 14px 15px;
  border-bottom: 1px #e5e5e5 solid;
  position: relative;
}
.areaRow[data-v-60f166ae]:active {
  background-color: #eee;
}
