
@charset "utf-8";
/* 基本字体样式 */
/* 行高 */
/* 基本间距 */
/* 列表顶部选择 */
/* 几个基本的灰度色彩 */
/* 语意化灰度 */
/* 基本状态色 */
/* 网站基本蓝色 */
/* 字体大小 */
/* 一些辅助方法
 ellipsis，省略号，当超过宽度时，显示省略号： */
ul li[data-v-4156f557] {
  list-style: none;
}
/* 强制换行 */
/* display:inline-block;IE6,7块级元素对inline-block支持不好，需要触发Layout；内联元素就不需要了。 */
/* 清除浮动，貌似最完美的解决方案 */
/* 最小高度，IE6不支持min-height，但是使用height能达到一样的效果 */
/* 使用纯CSS现实三角形，兼容所有浏览器；使用了三个参数，第一个是"方向"，第二个是"大小"，第三个是"颜色"，省得每次都写一大堆代码，非常方便啦； */
/* 一个区块 */
/* 整体居中 */
/* 垂直居中 */
/* 当Card底部是一个没有分页的List时 */
.container[data-v-4156f557] {
  padding: 0px;
}
.bodyer[data-v-4156f557] {
  -ms-flex: 1;
      flex: 1;
  overflow: auto;
}
.demo-loadmore-content[data-v-4156f557] {
  -ms-flex: 1;
      flex: 1;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.salaryRange[data-v-4156f557] {
  color: #009688;
  font-size: 14px;
}
.mu-item-action[data-v-4156f557] {
  height: auto;
}
.listItem[data-v-4156f557] {
  background: #fff;
}
.listItem[data-v-4156f557]:active {
  background: #f0f0f0;
}
.noList[data-v-4156f557] {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  font-size: 14px;
  color: #333;
}
