
@charset "utf-8";
/* 基本字体样式 */
/* 行高 */
/* 基本间距 */
/* 列表顶部选择 */
/* 几个基本的灰度色彩 */
/* 语意化灰度 */
/* 基本状态色 */
/* 网站基本蓝色 */
/* 字体大小 */
/* 一些辅助方法
 ellipsis，省略号，当超过宽度时，显示省略号： */
ul li {
  list-style: none;
}
/* 强制换行 */
/* display:inline-block;IE6,7块级元素对inline-block支持不好，需要触发Layout；内联元素就不需要了。 */
/* 清除浮动，貌似最完美的解决方案 */
/* 最小高度，IE6不支持min-height，但是使用height能达到一样的效果 */
/* 使用纯CSS现实三角形，兼容所有浏览器；使用了三个参数，第一个是"方向"，第二个是"大小"，第三个是"颜色"，省得每次都写一大堆代码，非常方便啦； */
/* 一个区块 */
/* 整体居中 */
/* 垂直居中 */
/* 当Card底部是一个没有分页的List时 */
.container {
  padding: 0;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.demo-loadmore-content {
  height: 100%;
  -ms-flex: 1;
      flex: 1;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.mu-carousel {
  height: 200px;
  margin-bottom: 15px;
}
.mu-carousel-item > img {
  width: 100%;
  height: 100%;
}
.topSearch {
  padding-top: 30px;
  width: 100%;
  background: #f5f5f5;
}
.flexCon {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  border: 1px solid #009688;
  border-radius: 5px;
  padding-left: 5px;
  background: #fff;
  width: 90%;
  margin: 0 auto 10px;
}
.araeBox {
  width: 20%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mu-input.searchBox {
  width: 98%;
  min-height: auto;
  padding-top: 0px;
  padding-bottom: 0px;
}
body .mu-secondary-text-color {
  color: #009688;
}
.flexCon .iconfont {
  font-size: 20px;
  color: #009688;
  margin-right: 15px;
}
.flexCon .iconfont.icon-weizhi-blue {
  margin-right: 0;
}
.searchBox input {
  width: 100%;
  height: 40px;
  padding-left: 1rem;
}
.suitables {
  margin-bottom: 15px;
}
.bgWhite {
  background: #fff;
}
.space15 {
  padding: 15px;
  margin-bottom: 15px;
}
.titleB {
  border-left: 3px solid #009688;
  font-size: 14px;
  line-height: 1;
  padding-left: 5px;
  margin-top: 0;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.activeBox {
  padding: 15px;
}
.activeBox:active {
  background: #f0f0f0;
}
.titleA {
  font-size: 14px;
  line-height: 1;
  color: #999;
  font-weight: normal;
  text-align: center;
  margin-top: 25px;
}
.titleA span {
  display: inline-block;
  vertical-align: 3px;
  width: 25px;
  height: 1px;
  background: #999;
}
.col {
  margin-top: 8px;
  margin-bottom: 8px;
}
.mqtj img {
  width: 100%;
  height: 100%;
  display: block;
}
.mqtj .grid-cell {
  border: 1px solid #ccc;
  height: 100px;
}
.salaryRange {
  color: #009688;
  font-size: 14px;
}
.mu-item-action {
  height: auto;
}
.mu-list {
  padding-bottom: 0;
}
.hotJobs h2 {
  margin-bottom: 0;
}
.listItem:active {
  background: #f0f0f0;
}
.listAction {
  min-width: 70px;
}
.imgSpace {
  padding: 5px;
}
.raidersImg {
  width: 50px;
  display: block;
}
.adv {
  width: 100%;
  margin: 15px 0;
}
.adv.createResume {
  margin-top: 0;
}
