
@charset "utf-8";
/* 基本字体样式 */
/* 行高 */
/* 基本间距 */
/* 列表顶部选择 */
/* 几个基本的灰度色彩 */
/* 语意化灰度 */
/* 基本状态色 */
/* 网站基本蓝色 */
/* 字体大小 */
/* 一些辅助方法
 ellipsis，省略号，当超过宽度时，显示省略号： */
ul li[data-v-0e50589f] {
  list-style: none;
}
/* 强制换行 */
/* display:inline-block;IE6,7块级元素对inline-block支持不好，需要触发Layout；内联元素就不需要了。 */
/* 清除浮动，貌似最完美的解决方案 */
/* 最小高度，IE6不支持min-height，但是使用height能达到一样的效果 */
/* 使用纯CSS现实三角形，兼容所有浏览器；使用了三个参数，第一个是"方向"，第二个是"大小"，第三个是"颜色"，省得每次都写一大堆代码，非常方便啦； */
/* 一个区块 */
/* 整体居中 */
/* 垂直居中 */
/* 当Card底部是一个没有分页的List时 */
.container[data-v-0e50589f] {
  padding: 0;
}
.p16[data-v-0e50589f] {
  padding-left: 16px;
  padding-right: 16px;
}
.mt8[data-v-0e50589f] {
  margin-top: 8px;
}
.whiteBg[data-v-0e50589f] {
  background: #fff;
}
.companyNameBox[data-v-0e50589f] {
  padding-top: 0px;
}
.companyNameBox .mu-item-sub-title span[data-v-0e50589f] {
  margin-right: 10px;
}
.companyNameBox .mu-avatar img[data-v-0e50589f] {
  border-radius: 0px;
}
.titleBox[data-v-0e50589f] {
  font-size: 16px;
  border-left: 3px solid #009688;
  padding-left: 5px;
  margin-top: 0;
}
.spaceBetween[data-v-0e50589f] {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.claim[data-v-0e50589f] {
  color: #666;
  font-size: 12px;
  margin-left: 10px;
}
.salaryRange[data-v-0e50589f] {
  color: #009688;
  font-size: 14px;
}
.allPostion .mu-card-text[data-v-0e50589f] {
  padding-bottom: 0;
}
.listItem[data-v-0e50589f]:active {
  background: #f0f0f0;
}
